.DS_Store

__pycache__/

# Environments and Secrets
.env
.env.local
.env.*
secrets.toml
.streamlit/secrets.toml

# Virtual Environments
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Datasets
*.csv

# Logs
*.log

# ML models
*.safetensors
*.pkl

